<footer class="bg-dark text-white mt-4 py-4">
  <div class="container" id="contacto">
    <nav class="row justify-content-between " >
      <a (click)="scrollToTop()" class="col-1 text-reset text-uppercase d-flex align-items-center centrador ">Ir arriba</a>
      <ul class="col-2 list-unstyled centrador">
        <li>
          <i class="fa fa-map-marked"></i>
          {{direccionHotel}}, C.P.: {{cpHotel}}, {{ciudadHotel}}, {{provinciaHotel}}, {{paisHotel}}
        </li>
        <li>
          <i class="fa fa-phone"></i>
          Teléfono: {{telefonoHotel}}
        </li>
        <li>
          <p>
            <a href="mailto:{{emailHotel}}">
              <i class="fa fa-envelope"></i>
              Email: {{emailHotel}}
            </a>
          </p>
        </li>
      </ul>
      <ul class="col-2 list-unstyled centrador">
        <li class="font-weight-bold text-uppercase" style="text-align: center;">Redes Sociales</li>
        <li class="d-flex justify-content-around">
          <a href="{{instagramHotel}}"><i class="fa-brands fa-instagram"></i></a>
          <a href="{{facebookHotel}}"><i class="fa-brands fa-facebook"></i></a>
          <a href="{{twitterHotel}}"><i class="fa-brands fa-twitter"></i></a>
        </li>
      </ul>
      <div class="col-3">
        <app-button-appstore app="App Store" text="Descargá Hotel California en"></app-button-appstore>
        <app-button-appstore app="Google Play" text="Descargá Hotel California en"></app-button-appstore>
      </div>
      <ul class="col-2 list list-unstyled ">
        <li><a href="#" class="text-reset">Legales</a></li>
        <li><a href="#" class="text-reset">Publicidad</a></li>
        <li><a href="#" class="text-reset">Politicas de privacidad</a></li>
        <li><a href="#" class="text-reset">Bases y condiciones</a></li>
      </ul>
    </nav>
  </div>
</footer>