<br>           
<div class="table-responsive-lg"  *ngIf="misReservas.length> 0">
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Habitación</th>
              <th scope="col">Fecha Ingreso</th>
              <th scope="col">Fecha Egreso</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let reserva of misReservas">
              <td>{{ reserva.descripcion }}</td>
              <td>{{ reserva.fechaIngreso }}</td>
              <td>{{ reserva.fechaEgreso }}</td>
              <td><button type="button" class="btn"
                [class.btn-secondary]="reservaPagada(reserva)"
                [class.btn-success]="!reservaPagada(reserva)"
                [class.text-white]="!reservaPagada(reserva)"
                [disabled]="reservaPagada(reserva)"
                (click)="reservaPagada(reserva) ? null : pagar(reserva)">
                {{ reservaPagada(reserva) ? 'Pagada' : 'Pagar' }}
              </button></td>
              <td><button type="button" class="btn btn-primary" (click)="mostrarForm()">Editar</button></td>
              <td><button type="button" class="btn btn-danger" (click)="cancelarReserva(reserva.reservaId)">Cancelar Reserva</button></td>
            </tr>
          </tbody>
    </table>
  </div>
<div class="form" *ngIf="editarDatos">
<form  >
  <div class="form-group">
    <form>
      <div class="form-group">
        <label>Habitación</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion1" name="opciones" value="opcion1">
          <label class="form-check-label" for="opcion1">Habitacion single o Doble</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion2" name="opciones" value="opcion2">
          <label class="form-check-label" for="opcion2">Habitación Triple</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Habitación Cuádruple</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Suite Exclusiva</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Suite Junior Doble</label>
        </div>
      </div>
    <div class="form-group">
      <label for="fechaIngreso">Fecha de ingreso:</label>
      <input type="date" id="fechaIngreso" name="fechaIngreso" class="form-control">
    </div>
    <div class="form-group">
      <label for="fechaEgreso">Fecha de egreso:</label>
      <input type="date" id="fechaEgreso" name="fechaEgreso" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>
</form>
</div></form></div>
<div *ngIf="cambiosDatos" >
<div class="bannerExito" >
  <i class="fa-solid fa-circle-check fa-lg" style="color: #28a745;"></i>
  <br>
  <h3>Su reserva se ha modificado con éxito</h3>
  <br>
  <p>En caso de presentar de error en la modificación, por favor comuniquese con nuestro equipo de atención al cliente o de soporte.</p>
  <p>Correo electrónico: innovacion.it.ispc&#64;gmail.com</p>
</div></div>