<br>           
<div class="table-responsive-lg"  *ngIf="editarDatos">
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Nro Reserva</th>
              <th scope="col">Habitación</th>
              <th scope="col">Fecha Ingreso</th>
              <th scope="col">Fecha Egreso</th>
              <th scope="col">Nro Factura</th>
              <th scope="col">Forma Pago</th>
              <th scope="col">Pago total</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngIf="mostrarReserva">
              <td>2589</td>
              <td>Habitación Triple</td>
              <td> 19/6/2023</td>
              <td>26/6/2023</td>
              <td>{{factura}}</td>
              <td>Tarjeta de crédito</td>
              <td>19200</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
    </table>
  </div>
 <div class="btn" *ngIf="editarDatos">
  <button type="button" class="btn btn-danger" (click)="CancelarReserva()">Cancelar Reserva</button>
  <button type="button" class="btn btn-primary" (click)="mostrarForm()">Editar</button>
</div>
<div class="form" *ngIf="Editar">
<form  >
  <div class="form-group">
    <form>
      <div class="form-group">
        <label>Habitación</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion1" name="opciones" value="opcion1">
          <label class="form-check-label" for="opcion1">Habitacion single o Doble</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion2" name="opciones" value="opcion2">
          <label class="form-check-label" for="opcion2">Habitación Triple</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Habitación Cuádruple</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Suite Exclusiva</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="opcion3" name="opciones" value="opcion3">
          <label class="form-check-label" for="opcion3">Suite Junior Doble</label>
        </div>
      </div>
    <div class="form-group">
      <label for="fechaIngreso">Fecha de ingreso:</label>
      <input type="date" id="fechaIngreso" name="fechaIngreso" class="form-control">
    </div>
    <div class="form-group">
      <label for="fechaEgreso">Fecha de egreso:</label>
      <input type="date" id="fechaEgreso" name="fechaEgreso" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>
</form>
</div></form></div>
<div *ngIf="cambiosDatos" >
<div class="bannerExito" >
  <i class="fa-solid fa-circle-check fa-lg" style="color: #28a745;"></i>
  <br>
  <h3>Su reserva se ha modificado con éxito</h3>
  <br>
  <p>En caso de presentar de error en la modificación, por favor comuniquese con nuestro equipo de atención al cliente o de soporte.</p>
  <p>Correo electrónico: innovacion.it.ispc@gmail.com</p>
</div></div>